.App {
	text-align: center;
	.after-message {
		color: darkgrey;
		font-family: monospace;
	}
	.div__form {
		position: relative;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		form {
			display: flex;
			text-align: justify;
		}
	}
	.div__graph {
		position: relative;
		right: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
	}
	background-color: #282c34;
	min-height: 100vh;
	display: block;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	position: relative;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-link {
	color: #61dafb;
}
