.feedback-tooltip__wrapper {
	position: absolute;
	left: 100px;
	top: 118px;
	height: fit-content;
	max-width: 280px;
	background-color: dimgrey;
	text-align: center;
	padding: 10px;
	font-size: 13px;
	border-radius: 10px;
	transition: opacity 0.3s, visibility 0.5s linear;
	@media screen and (max-width: 1024px) {
		left: 20px;
		top: -55px;
		font-size: 11px;
	}
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
}
