.error-tooltip__wrapper {
	position: absolute;
	right: 0px;
	top: 75px;
	height: fit-content;
	max-width: 200px;
	background-color: dimgrey;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	border-radius: 10px;
	transition: opacity 0.3s, visibility 0.5s linear;
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
}
