.error-tooltip__wrapper {
	position: absolute;
	left: 100px;
	top: 118px;
	height: fit-content;
	max-width: 280px;
	background-color: dimgrey;
	text-align: center;
	padding: 5px;
	font-size: 13px;
	border-radius: 10px;
	transition: opacity 0.3s, visibility 0.5s linear;
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
	&.full-list {
		p:after {
			content: "Digite no máximo 5 ativos";
		}
	}
	&.wrong-date {
		p:after {
			content: "As datas digitadas foram inválidas. Selecione uma data final que seja maior que a data inicial!";
		}
	}
	&.server-error {
		p:after {
			content: "Uma das requisições resultou em um erro do servidor. Provavelmente o limite de requisições foi estourado, aguarde um instante e tente novamente!";
		}
	}
}
