.error-tooltip__wrapper {
	position: relative;
	left: 25px;
	top: 93px;
	height: fit-content;
	max-width: 200px;
	background-color: dimgrey;
	text-align: center;
	padding: 10px;
	font-size: 14px;
	border-radius: 10px;
	transition: opacity 0.3s, visibility 0.5s linear;
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
	&.full-list {
		p:after {
			content: "Digite no máximo 5 ativos";
		}
	}
	&.wrong-date {
		p:after {
			content: "As datas digitadas foram inválidas. Selecione uma data final que seja maior que a data inicial, e lembre-se de não selecionar datas futuras!";
		}
	}
}
