.assets-form__wrapper {
	display: flex;
	position: relative;
	width: auto;
	padding: 40px;
	justify-content: center;
	form {
		height: fit-content;
		width: auto;
		display: grid;
	}
	form > * {
		margin-left: 30px;
	}
	input {
		margin-bottom: 20px;
		height: 30px;
		text-transform: uppercase;
	}
	label {
		font-size: 20px;
		font-family: "Monaco";
		width: max-content;
		margin-bottom: 10px;
	}
}
