.assets-form__wrapper {
	display: flex;
	position: relative;
	width: 100%;
	padding: 40px;
	form {
		height: fit-content;
		width: min-content;
		display: grid;
	}
	input {
		margin-bottom: 20px;
		height: 30px;
		text-transform: uppercase;
	}
	label {
		font-size: 20px;
		font-family: "Monaco";
		width: max-content;
	}
}
