.assets-form__wrapper {
	display: inline-block;
	form {
		height: fit-content;
		width: min-content;
		display: grid;
	}
	input {
		margin-bottom: 20px;
		height: 30px;
	}
	label {
		font-size: 20px;
		font-family: "Monaco";
		width: auto;
	}
}
